.signUpCard {
  width: 100%;
  padding: 50px 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #143D59;
  background-color: #F5B41A;
  border-bottom: 3px solid #143D59;
  border-right: 3px solid #143D59;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

}

.signUpText {
  font-size: 35px;
}

.form-signUp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signUpIcon {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.signUpSubmit {
  color: #f5d300;
  background-color: #143D59;
}

.signUpSubmit:hover {
  background-color: rgb(15, 73, 112);
}

.signUpSubmit:active {
  background-color: rgb(10, 99, 158);
}
